.buttons {
  height: 126px;
  position: relative;
}

.buttons .stop :hover{
  cursor: pointer;
  transform: scale(0.9);
}

.buttons .start :hover{
  cursor: pointer;
  transform: scale(0.9);
}

.buttons .set :hover{
  cursor: pointer;
  transform: scale(0.9);
}

.buttons .reset :hover{
  cursor: pointer;
  transform: scale(0.9);
}

.buttons .stop {
  height: 50px;
  left: 0px;
  top: 70px;
  width: 203px;
  border: 2.5px solid;
  border-color: #6454f0;
  border-radius: 15px;
  color: #ffffff;
  font-family: var(--subheader-font-family);
  font-size: var(--subheader-font-size);
  font-style: var(--subheader-font-style);
  font-weight: var(--subheader-font-weight);
  letter-spacing: var(--subheader-letter-spacing);
  line-height: var(--subheader-line-height);
  position: absolute;
  text-align: center;
  transition: all 0.2s ease;
}

.buttons .start {
  height: 50px;
  left: 0;
  top: 0;
  width: 203px;
  position: absolute;
  background-color: #6454f0;
  border-radius: 15px;
  color: #ffffff;
  font-family: var(--subheader-font-family);
  font-size: var(--subheader-font-size);
  font-style: var(--subheader-font-style);
  font-weight: var(--subheader-font-weight);
  letter-spacing: var(--subheader-letter-spacing);
  line-height: var(--subheader-line-height);
  text-align: center;
  transition: all 0.2s ease;
}

.buttons .set {
  height: 51px;
  left: 0px;
  top: 140px;
  width: 203px;
  position: absolute;
  background-color: #6454f0;
  border-radius: 15px;
  color: #ffffff;
  font-family: var(--subheader-font-family);
  font-size: var(--subheader-font-size);
  font-style: var(--subheader-font-style);
  font-weight: var(--subheader-font-weight);
  letter-spacing: var(--subheader-letter-spacing);
  line-height: var(--subheader-line-height);
  position: absolute;
  text-align: center;  
  transition: all 0.2s ease;
}

.buttons .reset {
  height: 51px;
  left: 0px;
  top: 210px;
  width: 203px;
  position: absolute;
  border: 2.5px solid;
  border-color: #6454f0;
  border-radius: 15px;
  color: #ffffff;
  font-family: var(--subheader-font-family);
  font-size: var(--subheader-font-size);
  font-style: var(--subheader-font-style);
  font-weight: var(--subheader-font-weight);
  letter-spacing: var(--subheader-letter-spacing);
  line-height: var(--subheader-line-height);
  text-align: center;
  transition: all 0.2s ease;
}
