.BlockDiagramand {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.BlockDiagramand .div-2 {
  background: linear-gradient(180deg, rgb(5, 5, 24) 0%, rgb(29, 29, 136) 100%);
  background-color: rgba(255, 255, 255, 1);
  height: 932px;
  position: relative;
  width: 430px;
}

.BlockDiagramand .block-diagramand2 {
  height: 90px;
  left: 38px;
  position: absolute;
  top: 219px;
  width: 353px;
}

.BlockDiagramand .overlap {
  height: 90px;
  left: 73px;
  position: absolute;
  top: 0;
  width: 280px;
}

.BlockDiagramand .overlap-2 {
  height: 34px;
  left: 0;
  position: absolute;
  top: 54px;
  width: 33px;
}

.BlockDiagramand .line {
  height: 14px;
  left: 20px;
  object-fit: cover;
  position: absolute;
  top: 20px;
  width: 7px;
}

.BlockDiagramand .ellipse {
  background-color: #d9d9d9;
  border-radius: 10px;
  height: 20px;
  left: 13px;
  position: absolute;
  top: 0;
  width: 20px;
}

.BlockDiagramand .flexcontainer {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 1px;
  height: 15px;
  left: 15px;
  position: absolute;
  top: 4px;
  width: 17px;
}

.BlockDiagramand .text {
  align-self: stretch;
  color: #6454f0;
  font-family: "Salsa", Helvetica;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 7px;
  position: relative;
}

.BlockDiagramand .text-wrapper {
  color: #6454f0;
  font-family: "Salsa", Helvetica;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 7px;
}

.BlockDiagramand .img {
  height: 7px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 14px;
}

.BlockDiagramand .roll-angle {
  color: #ffffff;
  font-family: "Salsa", Helvetica;
  font-size: 8px;
  font-weight: 400;
  height: 10px;
  left: 55px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 77px;
}

.BlockDiagramand .overlap-3 {
  height: 36px;
  left: 23px;
  position: absolute;
  top: 54px;
  width: 248px;
}

.BlockDiagramand .line-2 {
  height: 16px;
  left: 95px;
  object-fit: cover;
  position: absolute;
  top: 20px;
  width: 7px;
}

.BlockDiagramand .line-3 {
  height: 2px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 34px;
  width: 248px;
}

.BlockDiagramand .ellipse-2 {
  background-color: #d9d9d9;
  border-radius: 10px;
  height: 20px;
  left: 89px;
  position: absolute;
  top: 0;
  width: 20px;
}

.BlockDiagramand .flexcontainer-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 1px;
  height: 15px;
  left: 91px;
  position: absolute;
  top: 4px;
  width: 17px;
}

.BlockDiagramand .line-4 {
  height: 7px;
  left: 76px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 14px;
}

.BlockDiagramand .sensed-angular {
  color: #ffffff;
  font-family: "Salsa", Helvetica;
  font-size: 8px;
  font-weight: 400;
  height: 10px;
  left: 146px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 77px;
}

.BlockDiagramand .line-5 {
  height: 70px;
  left: 271px;
  object-fit: cover;
  position: absolute;
  top: 20px;
  width: 1px;
}

.BlockDiagramand .overlap-4 {
  height: 63px;
  left: 199px;
  position: absolute;
  top: 0;
  width: 81px;
}

.BlockDiagramand .line-6 {
  height: 44px;
  left: 53px;
  object-fit: cover;
  position: absolute;
  top: 20px;
  width: 7px;
}

.BlockDiagramand .line-7 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 62px;
  width: 56px;
}

.BlockDiagramand .rectangle {
  background-color: #6454f0;
  border-radius: 5px;
  height: 20px;
  left: 28px;
  position: absolute;
  top: 0;
  width: 53px;
}

.BlockDiagramand .plant {
  color: #ffffff;
  font-family: "Salsa", Helvetica;
  font-size: 8px;
  font-weight: 400;
  height: 10px;
  left: 46px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 4px;
}

.BlockDiagramand .overlap-5 {
  height: 20px;
  left: 132px;
  position: absolute;
  top: 54px;
  width: 67px;
}

.BlockDiagramand .rectangle-2 {
  border: 1px solid;
  border-color: #6454f0;
  border-radius: 5px;
  height: 20px;
  left: 14px;
  position: absolute;
  top: 0;
  width: 53px;
}

.BlockDiagramand .PID {
  color: #ffffff;
  font-family: "Salsa", Helvetica;
  font-size: 8px;
  font-weight: 400;
  height: 10px;
  left: 34px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 4px;
}

.BlockDiagramand .line-8 {
  height: 7px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 14px;
}

.BlockDiagramand .overlap-6 {
  height: 20px;
  left: 33px;
  position: absolute;
  top: 54px;
  width: 66px;
}

.BlockDiagramand .rectangle-3 {
  background-color: #6454f0;
  border-radius: 5px;
  height: 20px;
  left: 13px;
  position: absolute;
  top: 0;
  width: 53px;
}

.BlockDiagramand .PID-2 {
  color: #ffffff;
  font-family: "Salsa", Helvetica;
  font-size: 8px;
  font-weight: 400;
  height: 10px;
  left: 33px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 4px;
}

.BlockDiagramand .overlap-7 {
  height: 37px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 242px;
}

.BlockDiagramand .line-9 {
  height: 16px;
  left: 20px;
  object-fit: cover;
  position: absolute;
  top: 20px;
  width: 7px;
}

.BlockDiagramand .line-10 {
  height: 16px;
  left: 119px;
  object-fit: cover;
  position: absolute;
  top: 20px;
  width: 7px;
}

.BlockDiagramand .line-11 {
  height: 2px;
  left: 24px;
  object-fit: cover;
  position: absolute;
  top: 35px;
  width: 217px;
}

.BlockDiagramand .line-12 {
  height: 17px;
  left: 241px;
  object-fit: cover;
  position: absolute;
  top: 19px;
  width: 1px;
}

.BlockDiagramand .ellipse-3 {
  background-color: #d9d9d9;
  border-radius: 10px;
  height: 20px;
  left: 112px;
  position: absolute;
  top: 0;
  width: 20px;
}

.BlockDiagramand .flexcontainer-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 1px;
  height: 15px;
  left: 114px;
  position: absolute;
  top: 4px;
  width: 17px;
}

.BlockDiagramand .line-13 {
  height: 7px;
  left: 99px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 14px;
}

.BlockDiagramand .pitch-angle {
  color: #ffffff;
  font-family: "Salsa", Helvetica;
  font-size: 8px;
  font-weight: 400;
  height: 10px;
  left: 52px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 24px;
}

.BlockDiagramand .sensed-angular-2 {
  color: #ffffff;
  font-family: "Salsa", Helvetica;
  font-size: 8px;
  font-weight: 400;
  height: 10px;
  left: 143px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 25px;
}

.BlockDiagramand .line-14 {
  height: 7px;
  left: 199px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 28px;
}

.BlockDiagramand .overlap-group-2 {
  height: 20px;
  left: 132px;
  position: absolute;
  top: 0;
  width: 67px;
}

.BlockDiagramand .line-15 {
  height: 7px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 7px;
  width: 14px;
}

.BlockDiagramand .overlap-8 {
  height: 20px;
  left: 33px;
  position: absolute;
  top: 0;
  width: 66px;
}

.BlockDiagramand .roll-input-angle-wrapper {
  border: 1px solid;
  border-color: #6454f0;
  border-radius: 5px;
  height: 20px;
  left: 0;
  position: absolute;
  top: 54px;
  width: 73px;
}

.BlockDiagramand .roll-input-angle {
  color: #ffffff;
  font-family: "Salsa", Helvetica;
  font-size: 8px;
  font-weight: 400;
  height: 10px;
  left: 7px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 3px;
}

.BlockDiagramand .pitch-input-angle-wrapper {
  border: 1px solid;
  border-color: #6454f0;
  border-radius: 5px;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 73px;
}

.BlockDiagramand .pitch-input-angle {
  color: #ffffff;
  font-family: "Salsa", Helvetica;
  font-size: 8px;
  font-weight: 400;
  height: 10px;
  left: 4px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 3px;
}

.BlockDiagramand .frame {
  height: 102px;
  left: 242px;
  position: absolute;
  top: 87px;
  width: 76px;
}

.BlockDiagramand .popupinput-instance {
  width: unset !important;
}
