.graphs {
  height: 1841px;
  position: relative;
  transform: translate(0, 25px);
  width: 1065px;
}

.graphs .group-22 {
  height: 427px;
  left: 0;
  position: absolute;
  top: 98px;
  width: 527px;
}

.graphs .rectangle-5 {
  background-color: #d9d9d9;
  height: 370px;
  left: 0;
  position: absolute;
  top: 57px;
  width: 525px;
}

.graphs .text-wrapper-12 {
  color: #ffffff;
  font-family: var(--header-font-family);
  font-size: var(--header-font-size);
  font-style: var(--header-font-style);
  font-weight: var(--header-font-weight);
  height: 31px;
  left: 215px;
  letter-spacing: var(--header-letter-spacing);
  line-height: var(--header-line-height);
  position: absolute;
  text-align: center;
  top: 0;
  width: 97px;
}

.graphs .group-23 {
  height: 427px;
  left: 0;
  position: absolute;
  top: 536px;
  width: 527px;
}

.graphs .group-24 {
  height: 426px;
  left: 0;
  position: absolute;
  top: 976px;
  width: 527px;
}

.graphs .rectangle-6 {
  background-color: #d9d9d9;
  height: 370px;
  left: 0;
  position: absolute;
  top: 56px;
  width: 525px;
}

.graphs .x-vel {
  color: #ffffff;
  font-family: var(--header-font-family);
  font-size: var(--header-font-size);
  font-style: var(--header-font-style);
  font-weight: var(--header-font-weight);
  height: 29px;
  left: 233px;
  letter-spacing: var(--header-letter-spacing);
  line-height: var(--header-line-height);
  position: absolute;
  text-align: center;
  top: 0;
}

.graphs .group-25 {
  height: 427px;
  left: 0;
  position: absolute;
  top: 1414px;
  width: 527px;
}

.graphs .group-26 {
  height: 426px;
  left: 540px;
  position: absolute;
  top: 99px;
  width: 527px;
}

.graphs .text-wrapper-13 {
  color: #ffffff;
  font-family: var(--header-font-family);
  font-size: var(--header-font-size);
  font-style: var(--header-font-style);
  font-weight: var(--header-font-weight);
  height: 29px;
  left: 213px;
  letter-spacing: var(--header-letter-spacing);
  line-height: var(--header-line-height);
  position: absolute;
  text-align: center;
  top: 0;
}

.graphs .group-27 {
  height: 426px;
  left: 540px;
  position: absolute;
  top: 537px;
  width: 527px;
}

.graphs .group-28 {
  height: 426px;
  left: 540px;
  position: absolute;
  top: 976px;
  width: 527px;
}

.graphs .x-vel-PID {
  color: #ffffff;
  font-family: var(--header-font-family);
  font-size: var(--header-font-size);
  font-style: var(--header-font-style);
  font-weight: var(--header-font-weight);
  height: 29px;
  left: 215px;
  letter-spacing: var(--header-letter-spacing);
  line-height: var(--header-line-height);
  position: absolute;
  text-align: center;
  top: 0;
}

.graphs .group-29 {
  height: 427px;
  left: 540px;
  position: absolute;
  top: 1414px;
  width: 527px;
}

.graphs .text-wrapper-14 {
  color: #ffffff;
  font-family: var(--title-font-family);
  font-size: var(--title-font-size);
  font-style: var(--title-font-style);
  font-weight: var(--title-font-weight);
  height: 53px;
  left: 469px;
  letter-spacing: var(--title-letter-spacing);
  line-height: var(--title-line-height);
  position: absolute;
  text-align: center;
  top: -1px;
  width: 130px;
}
