.how-it-works {
  height: 699px;
  position: relative;
  width: 975px;
}

.how-it-works .the-degree-of {
  color: #ffffff;
  font-family: "Salsa", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 47px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 98px;
  width: 928px;
}

.how-it-works .overlap-group {
  background-color: #ffffff4c;
  border-radius: 0px 20px 20px 0px;
  height: 86px;
  left: 0;
  position: absolute;
  top: 0;
  width: 296px;
}

.how-it-works .HOW-IT-WORKS {
  color: #ffffff;
  font-family: "Salsa", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 47px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 27px;
}
