.hoverdoc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

.hoverdoc .nav-bar-tab-instance {
  height: 20px !important;
  left: 0px !important;
  position: fixed !important;
  top: 0px !important;
  width: 360px !important;
  z-index: 1 !important;
  border-radius:  0px 0px 3px 3px  !important;
}

.hoverdoc .nav-bar1{
  left: 300px !important;
  top: 2px !important;
}

.hoverdoc .nav-bar2{
  width:60% !important;
  height:auto !important;
}

.hoverdoc .nav-bar3{
  width:60% !important;
  height:auto !important;
}

.hoverdoc .nav-bar4{
  width:60% !important;
  height:auto !important;
}

.hoverdoc .nav-bar5{
  left: 180px !important;
  min-width: 50px !important;
  top:10px !important;
  padding: 5px !important;
}

.hoverdoc .nav-bar6{
  font-size: var(--copyright-font-size) !important;
}

.welcome-and .nav-bar7{
  left: -85px !important;
  top: 0px !important;
  min-width: 100px !important;
  padding: 0 !important;
  margin: 0 !important;
}

.welcome-and .nav-bar8{
  left: -85px !important;
  top: 0px !important;
  min-width: 100px !important;
  padding: 0 !important;
  margin: 0 !important;
}

.hoverdoc .footer5{
  left:0px !important;
  top:2440px !important;
}

.hoverdoc .groupfooter{
  left:0px !important;
  top:0px !important;
  height: 100px !important;
  width: 358px !important;
}

.hoverdoc .controlcheifhighfooter{
  left:-20px;
  top:20px;
}

.hoverdoc .maskgroupfooter{
  width: 30% !important;
  height: auto !important;
  left:0px !important;
  top:0px !important;
}

.hoverdoc .group7footer{
  left:260px !important;
  top:-30px !important;
}

.hoverdoc .group9footer{
  left:170px !important;
  top:-30px !important;
}

.hoverdoc .textwrapperfooter{
  font-size: var(--copyright-font-size) !important;
  top: 20px !important;
}

.hoverdoc .textwrapper2footer{
  font-size: var(--f10-font-size) !important;
  top: -5px !important;
}

.hoverdoc .textwrapper3footer{
  font-size: var(--f10-font-size) !important;
  top: 10px !important;
}

.hoverdoc .textwrapper4footer{
  font-size: var(--f10-font-size) !important;
  top: 25px !important;
}

.hoverdoc .textwrapper5footer{
  font-size: var(--f10-font-size) !important;
  top: 40px !important;
}

.hoverdoc .buttonfooter{
  font-size: var(--f10-font-size) !important;
}

.hoverdoc .group8footer{
  left:0px !important; 
}

.hoverdoc .group10footer{
  left:0px !important;
}

.hoverdoc .overlab2footer{
  left:0px !important;
  top:-120px !important;
}

.hoverdoc .rectanglefooter{
  left: 0px !important;
  width: 358px !important;
  height: 10px !important;
}

.hoverdoc .copyrightfooter{
  left:0px !important;
  font-size: 7px !important;
}

.hoverdoc .nav-bar-tab {
  left: 0px !important;
  position: fixed !important;
  top: 0px !important;
  z-index: 1 !important;
}

.hoverdoc .footer1{
  left:0px !important;
  top:2550px !important;
  position: absolute !important;
}

.hoverdoc .groupfooter1{
  left:0px !important;
  top:0px !important;
  height: 150px !important;
  width: 835px !important;
}

.hoverdoc .group2footer1{
  left:0px !important;
  top:0px !important;
}

.hoverdoc .controlcheifhighfooter1{
  left:10px;
  top:65px;
}

.hoverdoc .maskgroupfooter1{
  width: 50% !important;
  height: auto !important;
  left:0px !important;
  top:0px !important;
}

.hoverdoc .group7footer1{
  left:720px !important;
  top:-10px !important;
}

.hoverdoc .group9footer1{
  left:550px !important;
  top:-10px !important;
}

.hoverdoc .textwrapperfooter1{
  font-size: var(--subheader-font-size) !important;
  top: 20px !important;
}

.hoverdoc .textwrapper2footer1{
  font-size: var(--paragraph-font-size) !important;
  top: 5px !important;
}

.hoverdoc .textwrapper3footer1{
  font-size: var(--paragraph-font-size) !important;
  top: 30px !important;
}

.hoverdoc .textwrapper4footer1{
  font-size: var(--paragraph-font-size) !important;
  top: 55px !important;
}

.hoverdoc .textwrapper5footer1{
  font-size: var(--paragraph-font-size) !important;
  top: 80px !important;
}

.hoverdoc .buttonfooter1{
  font-size: var(--paragraph-font-size) !important;
}

.hoverdoc .group8footer1{
  left:0px !important; 
}

.hoverdoc .group10footer1{
  left:0px !important;
}

.hoverdoc .overlab2footer1{
  left:0px !important;
}

.hoverdoc .rectanglefooter1{
  left: 0px !important;
  width: 835px !important;
  height: 20px !important;
  top:60px !important;
}

.hoverdoc .copyrightfooter1{
  left:210px !important;
  top: 65px !important;
  font-size: var(--f10-font-size) !important;
}

.hoverdoc .about{
  position: absolute !important;
  top: 100px !important;
  left: 101px !important;
}

.hoverdoc .howitwork{
  position: absolute !important;
  top: 700px !important;
  left: 0px !important;
}
.hoverdoc .modeling{
  top: 1500px !important;
  left: 0px !important;
  position: absolute !important;
}

.hoverdoc .blockdiagram{
  top:2200px !important;
  position: absolute !important;
  left: 10px !important;
}

.hoverdoc .navigate{
  top:2800px !important;
  left: 0px !important;
  position: absolute !important;
}

.hoverdoc .footerdoc {
  background-color: transparent !important;
  left: 100px !important;
  position: absolute !important;
  top: 2870px !important;
}

.hoverdoc .navbardoc {
  left: 0px !important;
  position: fixed !important;
  top: 0px !important;
  z-index: 1 !important;
}

.hoverdoc .backop{
  opacity: 0 !important;
}

.hoverdoc .about1{
 left:0px !important;
}

.hoverdoc .textdof{
  font-size: 18px !important;
  width: 360px !important;
  top: 19px !important;
}

.hoverdoc .boxdof{
  left: 429px !important;
  width: 400px !important;
  height: 150px !important;
  top: 100px !important;
}

.hoverdoc .titleabout{
 font-size: 30px !important;
 left: 250px !important;
}

.hoverdoc .hoverimg{
  height: 50% !important;
  width: 20% !important;
  left: 50px !important;
}

.hoverdoc .howitwork1{
  top: 470px !important;
}

.hoverdoc .howitworksbox1{

}

.hoverdoc .howtext{
  font-size: 20px !important;
  
}

.hoverdoc .thedof{
  font-size: 20px !important;
  width: 700px !important;
}

.hoverdoc .blockdiagram1{
  top:2000px !important;
}

